.about--custom p {
    font-size: 1.75vw;
    font-family: 'Poppins', sans-serif;
    color: rgb(45, 90, 39)
   }
   
   .about--custom h3 {
     font-size: 2.50vw;
     font-family: 'Poppins', sans-serif;
   }
   
   .about__img-1 img {
     max-height: 600px;
   }